/*@media only screen and (max-width: 1000px) {*/
/*body {*/
/*display: none;*/
/*}*/
/*}*/

#warningModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    transition: all 0.3s ease-out;
}

/* line-chart (and zoom brush) svg CSS */
.svg-container.line-chart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive.line-chart {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* sub-info svg CSS */
.svg-container.sub-info {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 200%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive.sub-info {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* track svg CSS */
.svg-container.main-track {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive.main-track {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* nav_track svg CSS */
.svg-container.nav-track {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive.nav-track {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* nav_track svg CSS */
.svg-container.radar_chart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 150%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive.radar_chart{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}



#split-container *{
    /*margin-right: 10px;*/
    min-width: 5vw;
    /*width: 100%;*/
}

/*#split-table-container button{*/
    /*margin-right: 10px;*/
    /*min-width: 5vw;*/
    /*!*width: 100%;*!*/
/*}*/