/*@media only screen and (max-width: 1000px) {*/
    /*body {*/
        /*display: none;*/
    /*}*/
/*}*/

#warningModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    transition: all 0.3s ease-out;
}