body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color:#101010;
    color: #9d9d9d;

}

nav {
    z-index: 1000000;
}
#container{
    font: 12px Arial;
    stroke-width: 2;
    position: absolute;
    top: 10vh;
    z-index: 1;
    width: 100%;
    overflow-y: scroll;
    background-color:#101010;


}

#canvas{
    /*position: absolute;*/
    /*right: 30vh*/
    /*margin-bottom: 50px;*/
    width:90%;
    /*height: 700px;*/
    height: 900px;
    margin-left: 20px;
    margin-right: 20px;

}

g.tick {
    stroke: #9d9d9d;
    stroke-width: 1;
}
g.tick>line {
    stroke: #9d9d9d;
}

path.domain{
    stroke: #9d9d9d;
}

#zoom_canvas{
    /*position: absolute;*/
    /*right: 30vh*/
    /*margin-bottom: 50px;*/
    width:90%;
    height: 10%;
    margin-left: 20px;
    margin-right: 20px;

}
rect.selection{
    stroke:none;
}

#canvas>svg, #zoom_canvas>svg{
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 50px;
    fill: #9d9d9d;
}


.area {
    fill: steelblue;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.zoom{
    cursor: move;
    fill: none;
    /*pointer-events: all;*/
}


/* select track, sesssion box */
.sel_box{
    margin-top: 10px;
    margin-right: 10px;
}

.track_nav {
    /*position: absolute;*/
    left:2vw;
    width: 25%;

}

/* right checkbox */
.checkbox_wrapper{
    width: 25%;
    height: 25vh;
    overflow-y: scroll;
    position: absolute;
    right: 1vw;
}

#track_canvas{
    width: 25%;
    height: 30vh;
    right: 1vw;
    top: 35vh;
    position:absolute;

}
g.focus, g#track_focus1{
    fill: #9d9d9d;

}

#sub_canvas{
    width: 25%;
    height: 20vh;
    right: 1vw;
    top: 65vh;
    position:absolute;

}
#sub_canvas text{
    fill: #9d9d9d;
}




#sel_speed{
    width: 50%;
    float: right;
}
.playBtn{
    float:left;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    transition: all 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid transparent;
    width: 50%;

    background-color: #333; /* Black w/ opacfity */
    opacity: .9;
    box-shadow: 0 3px 40px 6px rgba(0,0,0,.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

.modal-body {
    padding: 2px 16px;
    color: #ddd;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}
/*     end of modal      */

/*     Sidebar Nav      */
.sidenav.left, .sidenav.right {
    /*height: 50%;*/
    width: 0px;
    position: fixed;
    z-index: 50;
    top: 5%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: 0.7;
}
.sidenav.left {
    left: 0;
}
.sidenav.right {
    right: 0;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*     end of Sidebar Nav      */