body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

nav {
    z-index: 1000000;
}
#container{
    font: 12px Arial;
    stroke-width: 2;
    position: absolute;
    top: 10vh;
    z-index: 1;
}


.line {
    fill: none;
    /*There's the fairly standard fill of none and a stroke width of 2 pixels, but the stroke: url(#line-gradient); is something different.*/
    stroke: url(#line-gradient);
    stroke-width: 3px;
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
}

.playBtn{
    margin-bottom: 10px;
}

.rangeWrap{
    width: 500px;
    height: 50px;
    margin-left: 5vw;
    margin-bottom: 0;
}

.rangeText{
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
}

#slider{
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 10000;
}

#canvas{
    margin-top: 50px;
}
.description{
    width: 1000px;
    /*margin-top: 5px;*/
    margin-right: 50px;
    margin-left: 100px;
}

.text.copyright{
    float: right;
    margin-right: 150px
}


/*
.rangeWrap input {
    width: 100%;
    margin: 0;
}
.rangeWrap .ticks {
    display: flex;
    justify-content: space-between;
    height: 6px;
    margin: -1.5em 5px 0 6px;
    font: 10px Arial;
    counter-reset: count -1;
}
.rangeWrap .ticks > div {
    height: 100%;
    width: 1px;
    background: silver;
    counter-increment: count 1;
}
.rangeWrap .ticks > div:nth-child(5n - 4) {
    height: 200%;
}
.rangeWrap .ticks > div:nth-child(5n - 4)::before {
    display: block;
    content: counter(count,decimal);
    transform: translate(-50%, 100%);
    text-align: center;
    width: 16px;
}

*/






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    transition: all 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid transparent;
    width: 50%;

    background-color: #333; /* Black w/ opacfity */
    opacity: .9;
    box-shadow: 0 3px 40px 6px rgba(0,0,0,.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

.modal-body {
    padding: 2px 16px;
    color: #ddd;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}
/*     end of modal      */

/*     Sidebar Nav      */
.sidenav.left, .sidenav.right {
    /*height: 50%;*/
    width: 0px;
    position: fixed;
    z-index: 50;
    top: 5%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: 0.7;
}
.sidenav.left {
    left: 0;
}
.sidenav.right {
    right: 0;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*     end of Sidebar Nav      */