body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color:#101010;
    color: #9d9d9d;

}

nav {
    z-index: 1000000;
}
#container{
    font: 12px Arial;
    stroke-width: 2;
    position: absolute;
    top: 10vh;
    z-index: 1;
    width: 100%;
    /*overflow-y: auto;*/
    background-color:#101010;
}

/*
.row, .col-sm-3, .col-sm-9, .col-sm-5, .col-sm-4{
    border-style: solid;
    border-width: 0.2px;
}
*/
.row.bottom{
    border-style: solid;
    border-width: 0.1px;
}

#canvas{
    /*width:100%; !* 이렇게 해야 안가려짐 *!*/
    width:90%; /* 이렇게 해야 안가려짐 */
    height: 300px;
    min-height: 100% !important;
    margin-right: 20px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;

}


g.tick {
    stroke: #9d9d9d;
    stroke-width: 1;
}
g.tick>line {
    stroke: #9d9d9d;
}

path.domain{
    stroke: #9d9d9d;
}

#zoom_canvas{
    width:90%;
    height: 10%;
}
button#zoom_reset{
    margin-left: 100px;
}

rect.selection{
    stroke:none;
}

#canvas>svg, #zoom_canvas>svg{
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 50px;
    fill: #9d9d9d;
}


.area {
    fill: steelblue;
    clip-path: url(#clip);
    z-index: 10000;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.line.ref{
    stroke: red;
    z-index: -10;
    opacity: 0.3
}


.animation_path{
    fill: none;
    stroke: grey;
    stroke-width: 10px;
    stroke-opacity: 0.5;

    /* 점선 및 animation */
    stroke-dasharray: 3; /* 값이 클수록 간격이 넒어짐 */
    animation: dash 30s linear;
}
@keyframes dash {

    to {
        stroke-dashoffset: -200;
    }
}

.zoom{
    cursor: move;
    fill: none;
    /*pointer-events: all;*/
}

/* axis type button */
.axisSwitchBtn{
    margin-left: 2px;
    float: left;
}


/* select track, sesssion box */
.right-nav {
    position: absolute;
    right: 1vw;
    width: 100%;
    padding-right: 5px;
}

.sel_box{
    margin-top: 10px;
    margin-right: 5px;
    /*width: 80%;*/
    /*float: right;*/
}

.track_nav {
    /*position: absolute;*/
    /*left:2vw;*/
}

/* right checkbox */
.checkbox_wrapper{
    /*width: 27vw;*/
    height: 20vh;
    overflow-y: scroll;
    background-color: #101010;

}

#track_canvas{
    width: 30vw;
    height: 30vh;
    /*right: 1vw;*/
}

#track_zoom_reset{
    font-size: 10px;
}
g.focus, g#track_focus1{
    /*fill: #9d9d9d;*/
    fill: steelblue;
}
g.focus-ref, g#track_focus1-ref{
    /*fill: #9d9d9d;*/
    fill: red;
    opacity:0.4;
}


g.focus > circle.chart_tooltip, g.focus-ref > circle.chart_tooltip-ref{
    display: None;
}

#sub_canvas{
    width: 28vw;
    height: 25vh;
}
#sub_canvas text{
    fill: #9d9d9d;
}
#sel_speed{
    width: 30%;
    float: right;
}
.playBtn{
    float:left;
}

path.line.boundary{
    /*stroke: grey;*/
    stroke: rgb(223, 235, 6);
    stroke-width: 0.5;
    z-index: -10;
}











/******************** The Modal (background) ***************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    transition: all 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid transparent;
    width: 50%;

    background-color: #333; /* Black w/ opacfity */
    opacity: .9;
    box-shadow: 0 3px 40px 6px rgba(0,0,0,.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

.modal-body {
    padding: 2px 16px;
    color: #ddd;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}
/*     end of modal      */

/*     Sidebar Nav      */
.sidenav.left, .sidenav.right {
    /*height: 50%;*/
    width: 0px;
    position: fixed;
    z-index: 50;
    top: 5%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: 0.7;
}
.sidenav.left {
    left: 0;
}
.sidenav.right {
    right: 0;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*     end of Sidebar Nav      */



/************* Loading Spinner *********************/

/* Center the loader */
/* Absolute Center Spinner */
#loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;

    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

/* :not(:required) hides these rules from IE9 and below */
#loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(150, 150, 150, 0.75) 1.5em 0 0 0, rgba(150, 150, 150, 0.75) 1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) 0 1.5em 0 0, rgba(150, 150, 150, 0.75) -1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) -1.5em 0 0 0, rgba(150, 150, 150, 0.75) -1.1em -1.1em 0 0, rgba(150, 150, 150, 0.75) 0 -1.5em 0 0, rgba(150, 150, 150, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(150, 150, 150, 0.75) 1.5em 0 0 0, rgba(150, 150, 150, 0.75) 1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) 0 1.5em 0 0, rgba(150, 150, 150, 0.75) -1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) -1.5em 0 0 0, rgba(150, 150, 150, 0.75) -1.1em -1.1em 0 0, rgba(150, 150, 150, 0.75) 0 -1.5em 0 0, rgba(150, 150, 150, 0.75) 1.1em -1.1em 0 0;
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;*/
    /*box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;*/
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}